.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.top button{
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 100px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}
.top button:hover {
  background-color: #333;
}

.top button:active {
  background-color: #000;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cart-container button {
  display: inline-block;
  border-radius: 4px;
  color: black;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 8px;
}
.price {
  text-align: center;
  font-size: 2em;
  margin-right: 8px; /* added margin to the right of the price */
}
.cart-container button:hover {
  background-color: #3c78d8;
}

.cart-container button:active {
  background-color: #2a56a2;
}
.item {
  position: relative; /* add position relative to the item container */
  flex-basis: 25%;
  margin: 8px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.item .remove-button {
  position: absolute;
  top: 0; 
  left: 0; 
  background-color: transparent; 
  color: black; /* set the color to black */
  border: none;
  font-size: 1.5em; /* adjust the font size */
  cursor: pointer;
}


.product-info {
  padding: 10px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}

.product-info img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-info p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.empty {
  font-size: 7em;
}
