.home {
  border: 1px solid #ccc;
  padding: 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 2rem;
}

.big-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 400px;
  background-color: #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.big-div:hover {
  background-color: #e0e0e0;
  color: #333;
}

.big-div h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
