.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

.Logo img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.Logo-text {
  display: flex;
  flex-direction: column;
}

.links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin-right: 2rem;
}

.links a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.links a:hover {
  color: #2d8cff;
}

.cart {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  margin-right: 20px;
}

.cart img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.cart-left, .cart-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.cart a{
  display: flex;
  justify-content: center;
}
